.how-to-play{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--purple-background-color);
    height: 100vh;
    gap: 10px;
    text-align: center;
}

.how-to-play__description{
    background-color: var(--white-background-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--black-text-color);
    font-weight: 500;
    font-size: 20px;
}

.how-to-play__image{
    max-width: 150px;
}

.how-to-play__jellyfish, .how-to-play__heart{
    width: 60px;
}

.how-to-play__spangeBobOnJellyFish{
    width: 100px;
}

.how-to-play__alignment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.how-to-play__title{
    color: var(--white-text-color);
    font-weight: 600;
}

.how-to-play__hightlight{
    color: var(--pink-dark-color);
    font-weight: 600;
}

.how-to-play__button{
    background-color: var(--pink-background-color);
    color: var(--white-button-color);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.how-to-play__button:hover{
    background-color: var(--pink-hover-background-color);
    transform: scale(1.1);
}